<%= form_for(provider, url: provider.new_record? ? user_box_version_providers_path : user_box_version_provider_path(provider.params), html: { multipart: true }) do |f| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version_id %>
    <%= f.select :version_id, options_from_collection_for_select([User.find(params[:user_id]).boxes.find(params[:box_id]).versions.find(params[:version_id])], :id, :version) %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.select :name, ['virtualbox'] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
