<h1>Editing Provider</h1>

<%= direct_upload_form_for @uploader do |f| %>
  <div class="field">
    <%= f.file_field :box_url, required: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>

<%= link_to 'Show', user_box_version_provider_path(@provider.params) %> |
<%= link_to 'Back', user_box_version_providers_path %>
