<p id="notice"><%= notice %></p>

<h1>Providers</h1>

<table>
  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= link_to 'Upload', user_box_version_provider_path(provider.params) %></td>
        <td><%= link_to 'Download', provider.box_url.url %></td>
        <td><%= link_to 'ðŸ“', edit_user_box_version_provider_path(provider.params) %></td>
        <td><%= link_to 'ðŸš®', user_box_version_provider_path(provider.params), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_user_box_version_provider_path %> |
<%= link_to 'Back', user_box_versions_path(@providers.new.version.params.except(:id)) %>
