<p id="notice"><%= notice %></p>

<h1><%= "#{@provider.version.box.user.name}/#{@provider.version.box.name}" %></h1>

<p>
  <strong>Version:</strong>
  <%= @provider.version.version %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @provider.name %>
</p>

<%= direct_upload_form_for @uploader do |f| %>
  <div class="field">
    <%= f.file_field :box_url, required: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_user_box_version_provider_path(@provider.params) %> |
<%= link_to 'Back', users_path %>

<script>
  document.getElementById('new_box_uploader').addEventListener('submit', function (event) {
    event.preventDefault()

    new AWS.S3({
      accessKeyId: '<%= ENV['AWS_ACCESS_KEY_ID'] %>',
      secretAccessKey: '<%= ENV['AWS_SECRET_ACCESS_KEY'] %>'
    }).upload({
      Bucket: '<%= ENV['S3_BUCKET'] %>',
      Key: document.getElementById('box_uploader_key').value,
      Body: document.getElementById('box_uploader_box_url').files[0]
    }, function (err, data) {
      if (err) alert(err)
      document.querySelector('input[type=submit]').disabled = false
    })
  })
</script>
