<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @provider.version.version %>
</p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Box url:</strong>
  <%= @provider.box_url %>
</p>

<%= link_to 'Edit', edit_user_box_version_provider_path(@provider.params) %> |
<%= link_to 'Back', user_box_version_providers_path %>
