<p id="notice"><%= notice %></p>

<h1>Boxes</h1>

<table>
  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td><%= link_to "#{box.user.name}/#{box.name}", user_box_versions_path(box.versions.new.params) %></td>
        <td><%= box.short_description %></td>
        <td><%= link_to 'ðŸ“', edit_user_box_path(box.params) %></td>
        <td><%= link_to 'ðŸš®', user_box_path(box.params), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box', new_user_box_path %> |
<%= link_to 'Back', users_path %>
