<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @box.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @box.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @box.short_description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<%= link_to 'Edit', edit_user_box_path %> |
<%= link_to 'Back', user_boxes_path %>
