<p id="notice"><%= notice %></p>

<h1>Versions</h1>

<table>
  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= link_to version.version, user_box_version_providers_path(version.providers.new.params) %></td>
        <td><%= version.description_html.html_safe %></td>
        <td><%= link_to 'ðŸ“', edit_user_box_version_path(version.params) %></td>
        <td><%= link_to 'ðŸš®', user_box_version_path(version.params), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Version', new_user_box_version_path %> |
<%= link_to 'Back', user_boxes_path(@versions.new.box.params.except(:id)) %>
