<p id="notice"><%= notice %></p>

<p>
  <strong>Box:</strong>
  <%= @version.box.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @version.version %>
</p>

<p>
  <strong>Description html:</strong>
  <%= @version.description_html %>
</p>

<p>
  <strong>Description markdown:</strong>
  <%= @version.description_markdown %>
</p>

<%= link_to 'Edit', edit_user_box_version_path(@version.params) %> |
<%= link_to 'Back', user_box_versions_path %>
